.spisok{
    display: flex;
    list-style-type: none;
}

.element{
    margin-right: 50px;
}

a{
    text-decoration: none;
}

.box-1 {
    grid-area: A;
  }
  .box-2 {
    grid-area: B;
  }
  .box-3 {
    grid-area: C;
  }

  .container {
    display: grid;
    gap: 20px;
    height: 100vh;
  
    /* ! */
    grid-template-areas:
      "A A A A   A A C C   C C C C"
      "A A A A   A A C C   C C C C"
      "B B B B   B B C C   C C C C";
  }

  [class^="box-"] {
    background-color: skyblue;
    /* Размещаем контейнеры по центру */
    /* display: grid;
    place-items: center; */
  }